In [1]:
1 + 2

3

In [3]:
2 + 2

4

**진하게** *기울임* ***앙***

In [12]:
# : 주석의 시작, enter : 주석의 끝 =>한줄주석
# 변수 선언
age = 20
age = 30 #변경
agebb

30

In [13]:
name = None #None:값이 없다라는 의미
name

In [15]:
name="홍길동"
name

'홍길동'

In [19]:
name2="김영수"

In [21]:
3name="박영희" #변수명을 숫자로 시작할 수 없다. SyntaxError:구문오류
name$3="박영희" #변수명에 특수문자는 _ 만 가능, name_3

SyntaxError: invalid syntax (<ipython-input-21-9d6181772497>, line 1)

In [23]:
address1 = address2 = None

In [24]:
# address1 = None
# address2 = None

In [27]:
age1 = age2 = 3
age1

3

In [28]:
age2

3

In [29]:
num1, num2, num3, num4 = 10, 20, 30, 40

In [30]:
num1

10

In [31]:
num2

20

In [32]:
num3

30

In [33]:
num4

40

In [34]:
num1+num3

40

In [36]:
num2 = "삼십"
num2

'삼십'

In [37]:
del num1

In [38]:
num1

NameError: name 'num1' is not defined

In [41]:
num2+num3

TypeError: can only concatenate str (not "int") to str

In [44]:
type(num2) #변수가 가진 값이 데이터타입 조회
# str:문자열, int:정수, float:실수, bool:논리형

str

In [43]:
type(num3)

int

In [45]:
student_name = "홍길동" #변수명은 구체적으로 설정하는 것이 좋음

In [48]:
18942//4

4735

In [49]:
18942/4

4735.5

In [54]:
'양수' if 12 > 0 else '음수'

'양수'

In [55]:
type("스무살")

str

In [56]:
a=3

In [59]:
if a > 1 :
    print("a is greater than 1")

a is greater than 1

In [60]:
for a in [10, 20, 30] :
    print(a)

10
20
30

In [77]:
while i < 3:
    i=i+1
    print(i)

In [79]:
i=0

In [80]:
while i < 3:
    i=i+1
    print(i)

1
2
3

In [84]:
value='안녕하세요 반갑습니다.'

In [85]:
print(value[3])

세

In [90]:
print(value[-8])

요

In [91]:
num=1

In [94]:
while num <= 100:
    num = num + 1
    print(num)

In [1]:
num3

NameError: name 'num3' is not defined

# 숫자형(정수,실수)

In [7]:
num = 10
"num % 3" == 0

False

# 논리형(bool)
 - 값 : true, false
 - 0,"",None -> false 빼고 나머지 true

In [8]:
bool(10)

True

In [9]:
bool(-5)

True

In [10]:
bool(0)

False

In [11]:
bool(None)

False

In [12]:
bool("")

False

In [15]:
bool(" ")

True

In [16]:
bool("a")

True

In [17]:
input()

아무거나 입력했어요

'아무거나 입력했어요'

In [19]:
input("이름:")

이름:홍길동

'홍길동'

In [24]:
name=input("이름:")

이름:홍길동

In [25]:
name

'홍길동'

In [3]:
name=input("이름:")

이름:

In [4]:
name

''

In [5]:
bool(name) #bool('') 공백

False

In [32]:
name if name else "이름을 입력하세요"

'이름을 입력하세요'

In [33]:
name=input("이름:")

이름:홍길동

In [34]:
name if name else "이름 입력해"

'홍길동'

In [2]:
# 비교연산
10 > 5

True

In [3]:
age = 31
age > 19

True

In [4]:
age = 20
name ="홍길동"

In [13]:
# 나이가 19세 이상이고 이름은 홍길동인가?
(age >= 19) & (name == "홍길동") # & 는 두 연산자의 타입이 같을 때(비트연산자일 때) 사용가능-> 연산자를 괄호로 묶거나 & 대신 and로 사용

True

In [12]:
age >= 19 and name == "홍길동"

True

In [14]:
age >= 19 or name == "이순신"

True

In [15]:
(age >= 19) | (name == "이순신")

True

In [18]:
#나이가 20세 이상이 아닌가?
not age >= 20 #또는 age < 19도 사용 가능

False

In [19]:
"""aaaa
aaaaa
aaaaaaaa"""

'aaaa\naaaaa\naaaaaaaa'

In [20]:
'''bbbb
bbbbb
bbbbbbb'''

'bbbb\nbbbbb\nbbbbbbb'

In [23]:
"20"+10 #다른 타입의 연사자까리는 연산불가->srt()를 이용하여 숫자타입을 문자로 변경하여 계산

TypeError: can only concatenate str (not "int") to str

In [22]:
"20"+str(10)

'2010'

In [24]:
'he' in 'hello'

True

In [25]:
'he' not in 'hello'

False

In [26]:
len("배고파")

3

# 인덱싱: 문자열에서 하나의 값을 조회하여 가져옴(0부터시작)
# 슬라이싱: 문자열 범위를 가져옴 [시작:종료:간격] (0부터시작) 시작 ~ 종료-1
value="안녕하세요"

In [30]:
print(value[0])

안

In [88]:
print(value[3],value[4])

세 요

In [33]:
print(value[-3])

하

In [36]:
value[4]

'요'

In [38]:
value[1:3]

'녕하'

In [41]:
value[0:5]

'안녕하세요'

In [90]:
value="배고파밥주세요"

In [45]:
value[0:7:2]

'배파주요'

In [95]:
value[:5] # 시작 을 생략하면 첫문자부터

'배고파밥주'

In [96]:
value[3:] # 종료 를 생략하면 끝문자까지

'밥주세요'

In [97]:
value[:] # 둘 다 생략하면 문자열 전체를 가져옴

'배고파밥주세요'

In [99]:
value[::-1] #간격을 -값으로 하면 역배열

'요세주밥파고배'

In [46]:
"""fjsiojo
jdfiosjfod
jdfiosjfodjfo"""

'fjsiojo\njdfiosjfod\njdfiosjfodjfo'

In [51]:
s="""fjsiojo
jdfiosjfod
jdfiosjfodjfo"""
s

'fjsiojo\njdfiosjfod\njdfiosjfodjfo'

In [49]:
print(s)

fjsiojo
jdfiosjfod
jdfiosjfodjfo

In [54]:
#대화형 코딩 REPL
#Read Eval Print Loop

In [57]:
1+1
2+2
3+3 #print를 쓰지 않으면 마지막값만 출력함

6

In [58]:
print(1+1)
print(2+2)
print(3+3) #마지막값은 어차피 나오므로 print생략가능

2
4
6

In [71]:
print(10) # 10+엔터
print("a")
print("b", end='-') # end: 출력 후 뒤에 붙이는 것을 지정
print('c')

10
a
b-c

In [68]:
#동시에 여러 값 출력
print('a','b','c',20,1.4)
name='홍길동'
print('이름:', name)
print('이름:', '한석봉')

a b c 20 1.4
이름: 홍길동
이름: 한석봉

In [72]:
print("A","B","C", sep='-') # sep: 출력값들 구분자 지정(생략시 공백)
print("A","B","C", sep='--')
print("A","B","C", sep='&')

A-B-C
A--B--C
A&B&C

In [74]:
len(name)

3

In [77]:
print("?"*100)

????????????????????????????????????????????????????????????????????????????????????????????????????

In [79]:
"이름:"+"홍길동"

'이름:홍길동'

In [80]:
age=20

In [81]:
"나이:"+age

TypeError: can only concatenate str (not "int") to str

In [85]:
"나이:"+str(age)  #다른 타입의 연사자까리는 연산불가
                    # ->srt()를 이용하여 숫자타입을 문자로 변경하여 계산

'나이:20'

# 문자열 formatting

In [100]:
name='홍길동'
age=20
address="서울시 서초구"

In [103]:
info="이름: "+name+", 나이: "+str(age)+", 주소: "+address
info

'이름: 홍길동, 나이: 20, 주소: 서울시 서초구'

In [107]:
info2="이름: {}, 나이: {}, 주소: {}".format(name, age, address) # 변수의 값을 쓸 때
info2

'이름: 홍길동, 나이: 20, 주소: 서울시 서초구'

In [113]:
info3='이름: {0}, 나이: {1}, 주소: {2}, {1}'.format(name, age, address)
info3  # 순번을 설정하면 동일한 값을 여러 군데에 사용할 때 편리

'이름: 홍길동, 나이: 20, 주소: 서울시 서초구, 20'

In [117]:
info4='이름: {이름}, 나이: {나이}, 주소: {주소}'.format(이름=name, 나이=age, 주소=address)
info4

'이름: 홍길동, 나이: 20, 주소: 서울시 서초구'

In [129]:
info5="이름: %s, 나이: %d, 주소: %s, 키: %.2f" % (name, age, address, 175.8)
info5
        # 값이 들어갈 부분을 값의 타입과 매칭되는 형식문자를 사용
        # %s: 문자열, %d: 정수, %f: 실수, %%: %
        # 넣어줄 값은 서식문자열 % (값, 값, ..)

'이름: 홍길동, 나이: 20, 주소: 서울시 서초구, 키: 175.80'

In [126]:
'%5d' % 10 # 공백

'   10'

In [124]:
'%-5d' % 10

'10   '

In [135]:
'몸무게: {:.1f}, 키: {:.2f}'.format(67.7, 180.6) # .2f: 소수점아래 두자리까지 표시

'몸무게: 67.7, 키: 180.60'

In [139]:
info6=f"이름: {name}, 나이: {age}, 주소: {address}" # 맨 앞에 f 를 붙이면 서식문자열임을 표시(파이썬 3.6버전에서 추가된 방식)
info6

'이름: 홍길동, 나이: 20, 주소: 서울시 서초구'

# 문자열 메소드 (일반함수식과 표기법이 다름)

값.함수식()

In [148]:
s1='   a   '
s1

'   a   '

In [151]:
s1.strip()          # 공백제거 메소드

'a'

In [154]:
s2=input("이름:")

이름:

In [156]:
s2

'     '

In [157]:
len(s2)

5

In [159]:
len(s2.strip()) # s2의 공백을 제거해줌

0

In [161]:
s1.count(' ') # s1에 공백이 몇개니

6

In [166]:
s3='aaabbbb'
print(s3.count('b'))
print(s3.count('ab'))

4
1

In [169]:
s4='사과, 귤, 배, 수박'
s4.split(',') # , 를 구분자로 해서 단어들을 나눈다(생략하면 공백기준)

['사과', ' 귤', ' 배', ' 수박']

In [27]:
#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오.
value='901211-1027213'
print(value[:6])
print(value[7:14])

901211
1027213

In [3]:
#2.  "안녕하세요" 를 10번 출력하시오.
print('안녕하세요'*10)

안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요

In [6]:
#3.
name="TV"
price=300000
maker = "LG"
# 위 변수의 값을 다음과 같은 형태로 출력하시오.
#"제품명 : TV, 가격 : 300000, 제조사 : LG"

info="제품명: {}, 가격: {}, 제조사: {}".format(name, price, maker)
info

'제품명: TV, 가격: 300000, 제조사: LG'

In [23]:
'제품명: {n}, 가격: {p}, 제조사: {m}'.format(n=name, p=price, m=maker)

'제품명: TV, 가격: 300000, 제조사: LG'

In [24]:
'제품명: %s, 가격: %d, 제조사: %s' % (name, price, maker)

'제품명: TV, 가격: 300000, 제조사: LG'

In [26]:
f'제품명: {name}, 가격: {price}, 제조사: {maker}'

'제품명: TV, 가격: 300000, 제조사: LG'

In [8]:
#4
fruits = "사과 복숭아 귤 배"
# 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.

'수박' in fruits

False

In [29]:
'수박' not in fruits

True

In [30]:
"수박있음" if "수박" in fruits else "수박없음"

'수박없음'

In [31]:
#5. 
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
# str_value에 a가 몇개 있는지 출력하시오.

str_value.count('a')     #변수.count('찾을값')

9

# 변환함수

In [1]:
num1=input('num1:') # 문자열(string)로 입력받기 때문에 정수로 변환하기 위해 int을 붙여줌
num2=input('num2:')
num1+num2

num1:1
num2:5

'15'

In [5]:
num1=input('num1')
num1=int(num1) #문자열을 정수로 변환

num2=input('num2:')
num2=int(num2)

num1+num2

num11
num2:2

3

In [6]:
num1=input('num1')
num1=float(num1) #문자열을 실수로 변환

num2=input('num2:')
num2=float(num2)

num1+num2

num15.5
num2:2.1

7.6

In [15]:
print(int(True))
print(int(False))

1
0