# 리스트

 - 순서가 있는 자료구조
 - 순서: index, index로 원소들을 식별한다.

In [3]:
num_list=[10,20,30,40,50]
num_list

[10, 20, 30, 40, 50]

In [4]:
str_list=["A","B","C"]
str_list

['A', 'B', 'C']

In [5]:
my_list=[True, False, "abd", 20, 40]
my_list

[True, False, 'abd', 20, 40]

In [8]:
num_list[0] #첫번째 값 조회

10

In [9]:
print(num_list[1],num_list[3])

20 40

In [11]:
len(num_list) #원소 개수

5

In [12]:
num_list[20]

IndexError: list index out of range

In [13]:
num_list[-2]

40

In [14]:
num_list[:3]

[10, 20, 30]

In [15]:
num_list[2:]

[30, 40, 50]

In [17]:
num_list[::2]

[10, 30, 50]

In [18]:
num_list

[10, 20, 30, 40, 50]

In [20]:
num_list[0]=1000 # 인덱스 0의 값을 1000으로 변경
num_list

[1000, 20, 30, 40, 50]

In [22]:
num_list[:3]=[1,2,3,4,5] # 0 ~ 3번째의 값을 1,2,3,4,5 로 변경
num_list

[1, 2, 3, 4, 5, 4, 5, 40, 50]

In [26]:
num_list[::3]=[100,1000,1000]
num_list

[100, 2, 3, 1000, 5, 4, 1000, 40, 50]

# 리스트 연산자

In [3]:
list1 = [1, 2, 3]
list2 = [6, 7, 8]
list3=[10, 20, 30]
list4 = list1 + list2 + list3 # 리스트 + 리스트 = 원소가 합쳐진 새로운 리스트 생성
list4

[1, 2, 3, 6, 7, 8, 10, 20, 30]

In [6]:
list5=list1 * 3  # 리스트 * 정수 = 원소를 반복해서 새로운 리스트 생성(값이 배수로 늘어나는게 아님)
list5

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [7]:
30 in list3

True

In [8]:
50 in list 3

SyntaxError: invalid syntax (<ipython-input-8-21297ebc529e>, line 1)

In [9]:
50 not in list3

True

In [12]:
[10, 20] in list3 # 10, 20 이 아니라 [10, 20] 자체를 원소로 가지고 있는가

False

In [14]:
# 중첩 리스트 (리스트를 원소로 가지는 리스트)

a_list=[[[1],[2,3]],[10,20,30],['가','나','다']]

In [15]:
a_list[2]

['가', '나', '다']

In [16]:
a_list[1][1]

20

In [17]:
a_list[0]

[[1], [2, 3]]

In [18]:
a_list[0][1]

[2, 3]

In [185]:
a_list[0][0]

[1]

In [22]:
a,b,c=[10,20,30] # a=10,b=20,c=30

In [26]:
d=[10,20,30]

In [21]:
# 리스트 대입
# a<-1 b<-2
a, b =[1, 2]
print(a,b)

1 2

In [20]:
l = [10, 20]
print(l[0],l[1])

10 20

In [23]:
num1,num2 = l
num1

10

# 리스트 주요 메소드

# 리스트 연산자

In [24]:
# append(): 마지막 원소로 값 추가
list1

[1, 2, 3]

In [26]:
list1.append(10)
list1

[1, 2, 3, 10]

In [27]:
list1.append(100)
list1

[1, 2, 3, 10, 100]

In [30]:
# insert(index, 값): 값은 index에 삽입
list1.insert(1, 50)
list1

[1, 50, 50, 50, 2, 3, 10, 100]

In [38]:
# sorted(): 정렬 
list7=[5, 3, 20, 15, 8]

list8=sorted(list7)
list8               # 내장함수 - 정렬된 새로운 리스트 생성

[3, 5, 8, 15, 20]

In [41]:
list9=sorted(list7, reverse=True)# 내림함수
list9

[20, 15, 8, 5, 3]

In [43]:
# sort() - 리스트 자체가 변경
list7.sort()
list7

[3, 5, 8, 15, 20]

In [45]:
list7.sort(reverse=True) # 내림차순
list7

[20, 15, 8, 5, 3]

In [57]:
list1=[1, 50, 50, 50, 2, 3, 10, 100]

In [58]:
# 리스트 원소 삭제
# list.remove(삭제할 값) 또는 del list[index]
del list1[2]
list1

[1, 50, 50, 2, 3, 10, 100]

In [60]:
list1.remove(50)
list1

[1, 50, 2, 3, 10, 100]

In [55]:
list1.clear() # 모든 원소 삭제
list1

[]

# 튜플
 - 순서가 있고 중복된 값(원소)를 허용
 - 원소를 변경할 수 없다. (리스트와의 차이점)

In [62]:
tu1=('a','b','c','d')
tu1

('a', 'b', 'c', 'd')

In [65]:
tu2='가','나','다' # (괄호 생략가능)
tu2

('가', '나', '다')

In [67]:
type(tu2), type([1,2,3]) # <-이것도 하나의 튜플로 생성됨

(tuple, list)

In [68]:
1,2,3

(1, 2, 3)

In [69]:
tu3=(1,2,3,1,1,1,2) # 중복허용
tu3

(1, 2, 3, 1, 1, 1, 2)

In [70]:
# 원소 조회: indexing/slicing
print(tu3[0], tu3[2], tu3[4])

1 3 1

In [72]:
print(tu3[0:3])

(1, 2, 3)

In [73]:
tu3[::2]

(1, 3, 1, 2)

In [75]:
tu3[0]=100  # 튜플은 원소를 바꿀 수 없다.

TypeError: 'tuple' object does not support item assignment

## 튜플 연산자

In [78]:
tu1+tu2+tu3 # 다른 타입의 원소도 합치기 가능 -> 새로운 튜플 생성

('a', 'b', 'c', 'd', '가', '나', '다', 1, 2, 3, 1, 1, 1, 2)

In [77]:
tu1

('a', 'b', 'c', 'd')

In [80]:
tu1 * 3 # 원소 반복 -> 새로운 튜플 생성

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

In [84]:
'a' in tu1, 'a' in tu2, '가' not in tu3

(True, False, True)

In [90]:
a = (10)
type(a)

int

In [91]:
b = (10,)
type(b)       # 원소가 한개인 경우 반드시 뒤에 , 를 붙인다

tuple

In [95]:
c=20,
print(type(c))
print(type(c),c)

<class 'tuple'>
<class 'tuple'> (20,)

## 튜플대입

In [93]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [97]:
x=100
y=200

In [100]:
x,y=y,x # x에 y값 대입, y에 x값 대입

In [99]:
x,y

(200, 100)

# 딕셔너리(dict)
 - key-value 쌍으로 관리 (key-value => item)
 - key는 중복될 수 없고 value는 중복 가능
 - key로는 주로 문자열을 사용

In [102]:
fruits={"참외":20, "수박":10, "사과":15}
fruits, type(fruits)

({'참외': 20, '수박': 10, '사과': 15}, dict)

In [103]:
# 함수를 이용해 생성
# dict(key=값, key=값, key=값, ..) 단, key는 변수형식으로 지정.
person=dict(name='홍길동', age=20, address='서울')
person

{'name': '홍길동', 'age': 20, 'address': '서울'}

In [107]:
# 조회/변경

fruits['수박'], fruits['사과']  # 조회

(50, 15)

In [105]:
fruits['수박']=50  # 변경
fruits

{'참외': 20, '수박': 50, '사과': 15}

In [109]:
fruits['귤']=30  # 추가(없는 키로 대입)
fruits

{'참외': 20, '수박': 50, '사과': 15, '귤': 30}

In [111]:
fruits['배']  # 없는 키 조회 불가능

KeyError: '배'

In [112]:
fruits.get("사과")  # 조회 메소드

15

In [115]:
print(fruits.get("배")) # 조회하는 키가 없고 기본값이 생략된 경우 None 반환

None

In [116]:
print(fruits.get("배",0))  # 조회하는 키가 없으면 0(기본값) 반환

0

In [117]:
person

{'name': '홍길동', 'age': 20, 'address': '서울'}

In [118]:
"홍길동" in person

False

In [119]:
"name" in person  # in, not in 연산자는 key값의 유무를 체크

True

## 딕셔너리 메소드

In [120]:
fruits

{'참외': 20, '수박': 50, '사과': 15, '귤': 30}

In [121]:
fruits.pop('참외')  # 지우면서 값을 반환

20

In [122]:
fruits

{'수박': 50, '사과': 15, '귤': 30}

In [129]:
del fruits['수박']
fruits

{'귤': 30}

In [128]:
p=person.items()
p

dict_items([('name', '홍길동'), ('age', 20), ('address', '서울')])

In [130]:
person.keys()

dict_keys(['name', 'age', 'address'])

In [131]:
person.values()

dict_values(['홍길동', 20, '서울'])

# 집합(set)
 - 중복을 허용하지 않는다.
 - 순서가 없다 => 원소의 식별자(index)가 없다.

In [134]:
s1={1,2,3,4}
print(type(s1))
s1

<class 'set'>

{1, 2, 3, 4}

In [135]:
s2={1,1,1,2,2,2,5,5}
s2

{1, 2, 5}

In [136]:
# s2[0]   # set은 원소 하나씩 조회 안됨

TypeError: 'set' object is not subscriptable

In [137]:
s1

{1, 2, 3, 4}

In [138]:
s2

{1, 2, 5}

In [139]:
s1 | s2  # 합집합

{1, 2, 3, 4, 5}

In [141]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [140]:
s1 & s2  # 교집합

{1, 2}

In [142]:
s1.intersection(s2)

{1, 2}

In [143]:
s1-s2  #차집합

{3, 4}

In [144]:
s1.difference(s2)

{3, 4}

# 자료구조 변환함수
 - list(변경할대상):list로 변환
 - tuple(변경할대상):tuple로 변환
 - set(변경할대상):set으로 변환
 
 - 딕셔너리로 변환하는 함수는 없다.
 - 변경대상이 딕셔너리인 경우 key값들만 모아 변환한다.

In [146]:
t=1,2,3,4,5
t

(1, 2, 3, 4, 5)

In [147]:
list(t)

[1, 2, 3, 4, 5]

In [149]:
l=list(t)   # 튜플->리스트로 전환하여 원소 바꿈
l[0]=100
l

[100, 2, 3, 4, 5]

In [152]:
t=tuple(l)
t

(100, 2, 3, 4, 5)

In [154]:
l=[1,1,1,1,2,2,2]
set(l)

{1, 2}

In [155]:
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85] 

# 위는 1번 ~ 10번까지 10명의 시험 점수이다. 
#(1)  7번의 점수를 출력하시오 

print(jumsu[6])

80

In [156]:
#(2)  1번부터 5번까지의 점수를 출력하시오.
print(jumsu[:5])

[100, 90, 100, 80, 70]

In [157]:
#(3)  4, 5, 6, 7번의 점수를 출력하시오.
print(jumsu[3:7])

[80, 70, 100, 80]

In [158]:
#(4) 짝수번째 점수를 출력하시오.
print(jumsu[1::2])

[90, 80, 100, 90, 85]

In [159]:
#(5) 홀수번째 점수를 출력하시오.
print(jumsu[::2])

[100, 100, 70, 80, 95]

In [161]:
#(6) 9번의 점수를 20으로 변경하고 전체 출력하시오.
jumsu[8]=20
jumsu

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [182]:
#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하시오.
list(set(jumsu))

[100, 70, 80, 20, 85, 90]

In [179]:
#(8)본인의 이름, 나이, email주소, 취미, 결혼유무를 딕셔너리으로 생성. 
# 취미는 2개 이상의 값을 넣는다..

person={'이름':'성윤혜', '나이':31, 'email주소':'dearmyd22r@naver.com', '취미':['사진찍기','등산'], '결혼유무':'미혼'}
person

{'이름': '성윤혜',
 '나이': 31,
 'email주소': 'dearmyd22r@naver.com',
 '취미': ['사진찍기', '등산'],
 '결혼유무': '미혼'}

In [168]:
#(9) 위 딕셔너리에서 이름과 email주소를 조회해서 출력
person['이름'], person['email주소']

('성윤혜', 'dearmyd22r@naver.com')

In [180]:
#(10) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력
person['취미'][1]

'등산'

In [183]:
h1,h2=person['취미']
print(h2)

등산