In [ ]:
if 조건 :         # <-선언
     명령문1 # <-반드시 앞에 들여쓰기할것! 들여쓰기로 코드를 묶어줌
    명령문2
종료

In [ ]:
if 조건 :       # true or false인 경우
    명령문1
else
    명령문2
종료

In [ ]:
if 조건1 :    # 조건이 여러가지인 경우
    명령문1

elif 조건2 :
    명령문2

elif 조건3 :
    명려운3

else:
    명령문4

In [1]:
bool([1,2])

True

In [2]:
bool([]),bool({})

(False, False)

In [4]:
num = 0
if num==0:  # if문 선언부
    print("0") # 실행문의 앞 들여쓰기간격은 일정하게
    print("영")
    
print("종료")  # 종료 - if문 조건의 true/false 와 상관없이 무조건 출력됨

0
영
종료

In [11]:
num = 10
if num == 0:
    print("0") 
    print("영")
else:
    print("0 아님")
    
print("종료")

0 아님
종료

In [13]:
num = 2
if num==0:
    print("2")
    print("이")
elif num>0:
    print("양수")
elif num<0:  # 이외의 경우가 없는 경우에는 else로 정리해도 된다
    print("음수")
print("종료")

양수
종료

In [18]:
id = input('id:')
# id를 입력했으면 저장, 안했으면 오류메세지
if len(id)!=0:    # 또는 len(id) 도 가능 -> 빈문자열:false, 1글자 이상:ture
    print(id+"를 저장했습니다.")
else:
    print("아이디를 입력하세요")

id:
아이디를 입력하세요

In [20]:
id = input('id:')
# id를 입력했으면 저장, 안했으면 오류메세지
if id.strip():      # strip 문자열의 앞뒤 공백제거
    print(id+"를 저장했습니다.")
else:
    print("아이디를 입력하세요")

id:fjdios
fjdios를 저장했습니다.

In [24]:
city=input("도시명:").strip()
if city=='서울시':
    print('서울시: 특별시')
elif city in ['인천시','대구시','대전시','부산시','광주시','울산시']:
    print(f'{city}는 광역시')
    print('{}는 광역시'.format(city))
    print('%s는 광역시' % city)
else:
    print('{}는 일반시'.format(city))

도시명:인천시
인천시는 광역시
인천시는 광역시
인천시는 광역시

# while

In [35]:
limit=int(input("limit:"))
count=0
while count < limit:
    print(count)
    count = count + 1   # 또는 count += 1 <-대입연산자

limit:3
0
1
2

# for in문

In [36]:
nums=[10,20,30,40,50]
for num in nums:             # for 변수 in 반복할 대상
    print(num)

10
20
30
40
50

In [38]:
t=1,2,3,4
for num in t:
    print(num)

1
2
3
4

In [5]:
dic = dict(a=10,b=10,c=30)
dic

{'a': 10, 'b': 10, 'c': 30}

In [40]:
for key in dic:   # key값이 반복 조회된다.
    print(key)

a
b
c

In [6]:
for key in dic:
    print(dic[key])

10
10
30

In [41]:
for c in "안녕하세요. abcde.":
    print(c)

안
녕
하
세
요
.

a
b
c
d
e
.

# break, continue
 - 반복문에서 사용하는 예약어
 - break: 반복을 멈춰라
 - continue: 조건을 다시 비교, 다음 원소를 반복조회 해라. 다음반복

In [42]:
num=0
while True:
    if num >= 10:
        break
    print(num)
    num += 1  # 또는 num = num + 1

0
1
2
3
4
5
6
7
8
9

In [43]:
num=0
while num <= 100:
    if num%5==0:  # 5의 배수이면
        print(num)
    num += 1

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [7]:
num=0
while num <= 100:
    if num%5!=0:  # 5의 배수가 아니면
        num += 1
        continue  # 반복을 멈추고 처음으로 돌아가라(즉 5의배수가 아니면 실행취소)
    print(num)
    num += 1

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [20]:
# range(시작값, 멈춤값, 증감값)
# 시작값,즉감값 은 생략가능
# 멈춤값은 포함하지 않음 (멈춤값-1까지 반환)

list(range(1,5,2))

[1, 3]

In [19]:
for num in range(1,20):
    if num % 2 == 0:
        print(num)

2
4
6
8
10
12
14
16
18

# for in 문 관련 함수
 - range()
 - enumerate():index(몇번째 반복)과 원소를 묶어서 tuple로 반환
 - zip(자료구조 등..)
     - 반복시 마다 같은 index의 값들을 묶어서 반환

In [26]:
print(range(1,100,5))

range(1, 100, 5)

In [27]:
# range를 이용해 list/tuple/set 생성
l1=list(range(10,100,5))
l1

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [28]:
t1=tuple(range(10)) # 멈춤값, 0 ~ 10-1, 1씩증가
t1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [29]:
s1=list(range(10,0,-1))
s1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [32]:
for num in range(10):
    print(num, end='\t')  # end : 같은줄에 출력 (가로로) \t : tab키 간격만큼

0	1	2	3	4	5	6	7	8	9

In [51]:
# 안녕 10번 출력 - 특정작업을 N번 반복할때도 사용
for _ in range(10):  # 변수명으로 특수문자는 _ 만 사용가능, 반복문에서 대게 사용
    print("안녕")

안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕

In [34]:
# enumerate

l2=list(range(10))
l2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
for num in enumerate(l2): # tuple로 반환
    print(num)

(0, 0)
(1, 1)
(2, 2)
(3, 3)
(4, 4)
(5, 5)
(6, 6)
(7, 7)
(8, 8)
(9, 9)

In [37]:
for idx,num in enumerate(l2): # 따로 반환
    print(idx,num)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9

In [45]:
s=['가','나','다','라']
for i, ss in enumerate(s):
    if i % 2 == 0:
        print(i,ss)

0 가
2 다

In [46]:
for i,num in enumerate(l2, start=100):  # start=시작번호 설정가능
    print(i,num)

100 0
101 1
102 2
103 3
104 4
105 5
106 6
107 7
108 8
109 9

In [57]:
# zip(변수,변수) : 튜플로 반환, 두 변수 중 원소의 개수가 적은것을 기준으로 반환

a=[10, 20, 30, 40]
b=["A", "B", "C"]

for n,m in zip(a,b):
    print(n,m)

10 A
20 B
30 C

In [58]:
for n in zip(a,b):
    print(n)

(10, 'A')
(20, 'B')
(30, 'C')

In [52]:
ids=['id-1', 'id-2', 'id-3', 'id-4', 'id-5']
ages=[20, 15, 31, 25, 44]
talls=[175.6, 162.7, 178.3, 170,9, 184]

In [53]:
for info in zip(ids,ages,talls):
    print(info)

('id-1', 20, 175.6)
('id-2', 15, 162.7)
('id-3', 31, 178.3)
('id-4', 25, 170)
('id-5', 44, 9)

In [54]:
for id, age, tall in zip(ids,ages,talls):
    print(f'아이디:{id},나이:{age},키:{tall}')

아이디:id-1,나이:20,키:175.6
아이디:id-2,나이:15,키:162.7
아이디:id-3,나이:31,키:178.3
아이디:id-4,나이:25,키:170
아이디:id-5,나이:44,키:9

## comprehension (내포)

In [59]:
l3=list(range(10))
l3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
# l3의 각 원소 * 10 의 값을 가진 리스트를 생성

result_list=[]
for num in l3:
    result_list.append(num*10)  # list.append(값): list에 값을 추가
print(result_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [68]:
results=[num*10 for num in l3]
results

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [70]:
# l3의 각 원소의 값 -10 한 값들을 가지를 리스트 생성

results2=[num-1 for num in l3]
results2

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8]

 - 리스트(list) 컴프리헨션 (자료구조의 원소를 처리한 값을 **리스트**에 넣는 구문)
 - 셋(set) 컴프리헨션
 - 딕셔너리(dictionary) 컴프리헨션
    - 처리한 결과를 어디에 넣는지에 따라 결정됨.
 - **튜플 컴프리헨션은 없다.**
 - 셋/딕셔너리 컴프리헨션은 파이썬 3.0에 추가된 문법.

In [73]:
# set 컴프리헨션

{num-10 for num in l3}

{-10, -9, -8, -7, -6, -5, -4, -3, -2, -1}

In [76]:
# 딕셔너리 컴프리헨션 {키:값}

{'key'+str(a):num-10 for a,num in enumerate(l3)}

{'key0': -10,
 'key1': -9,
 'key2': -8,
 'key3': -7,
 'key4': -6,
 'key5': -5,
 'key6': -4,
 'key7': -3,
 'key8': -2,
 'key9': -1}

In [82]:
l4=list(range(0,101))
print(l4)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [79]:
# l4의 원소중 5의 배수값들인 원소 * 5 들을 가지는 리스트 생성

result_list3=[]
for num in l4:
    if num % 5 == 0:
        result_list3.append(num*5)
print(result_list3)

[0, 25, 50, 75, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 425, 450, 475, 500]

In [81]:
result_list4=[num*5 for num in l4 if num%5==0]  # 리스트 컴프리헨션
print(result_list4)

[0, 25, 50, 75, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 425, 450, 475, 500]

In [85]:
l5=[[1,2,3],[10,20,30]] 
for i in l5:
    print(i)

[1, 2, 3]
[10, 20, 30]

In [86]:
for i in l5:    
    for j in i:   # 자료구조 중첩->반복문도 중첩
        print(j, end="\t")
    print()

1	2	3
10	20	30

In [87]:
[i for i in l5]

[[1, 2, 3], [10, 20, 30]]

In [88]:
[j for i in l5 for j in i]

[1, 2, 3, 10, 20, 30]

In [89]:
[j for i in l5 for j in i if j%2==0]

[2, 10, 20, 30]

# 연습문제

In [44]:
#(1) 아래 리스트의 평균을 구하시오. 
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]

total=0  # 합계 저장할 변수, 초기값은 0
for num in jumsu:
    total = total + num  # total += jumsu
print("합계:", total)
print("평균:", total/len(jumsu))
avg=total/len(jumsu)
avg

합계: 890
평균: 89.0
89.0

In [8]:
#(2) 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)

for idx,num in enumerate(jumsu):
    if num >= avg:
        print(idx,'-','pass')
    else:
        print(idx,'-','fail')

0 - pass
1 - pass
2 - pass
3 - fail
4 - fail
5 - pass
6 - fail
7 - pass
8 - pass
9 - fail

In [9]:
for idx,num in enumerate(jumsu):
    if num >= avg:
        print("{}-{}".format(idx,'pass'))
    else:
        print("{}-{}".format(idx,'fail'))

0-pass
1-pass
2-pass
3-fail
4-fail
5-pass
6-fail
7-pass
8-pass
9-fail

In [14]:
for idx, num in enumerate(jumsu):
    print(idx,"pass" if num>=avg else "fail")

0 pass
1 pass
2 pass
3 fail
4 fail
5 pass
6 fail
7 pass
8 pass
9 fail

In [15]:
jumsu

[100, 90, 100, 80, 70, 100, 80, 90, 95, 85]

In [20]:
test_list=[]
for num in jumsu:
    if num >= avg:
        test_list.append("pass")
    else:
        test_list.append("fail")
print(test_list,end='\t')

['pass', 'pass', 'pass', 'fail', 'fail', 'pass', 'fail', 'pass', 'pass', 'fail']

In [23]:
["pass" if num>= avg else "fail" for num in jumsu]

['pass',
 'pass',
 'pass',
 'fail',
 'fail',
 'pass',
 'fail',
 'pass',
 'pass',
 'fail']

In [32]:
#(3) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]

jumsu1=sorted(jumsu)
jumsu1[-1]

95

In [41]:
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]
max_var=jumsu[0]  # 최대값을 저장할 ㅂ변수
for num in jumsu:
    if max_var < num:
        max_var = num
print("최대값:",max_var)

최대값: 95

In [49]:
# 내장함수
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]
print(sum(jumsu))  #  자료구조내 모든 숫자들의 합계 계산
print(sum(tuple(jumsu)))
print(max(jumsu))  # 원소중 최대값
print(min(jumsu))  # 최소값
print(sum(jumsu)/len(jumsu))  # 평균
print("%.2f" % (sum(jumsu)/len(jumsu)))
a=sum(jumsu)/len(jumsu)
round(a)  # 소수점이하의 수 반올림
round(a, 2) # round(대상값, 자리수) 반올림하여 자리수까지 표현
# (자리수 양수:소숫점이하자리, 음수:정수자리)

785
785
95
55
78.5
78.50

78.5

In [58]:
num=1989.1105
print(round(num))
print(round(num,3))  # 양수 : 반올림하여 소수 셋째자리까지 나타냄
print(round(num,-2)) # 음수 : 십의자리에서 반올림하여라
print(round(num,-1)) # 음수 : 일의자리에서 반올림하여라

1989
1989.111
2000.0
1990.0
28000

In [66]:
#(4) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오. 
# ex) 단을 입력하시오 : 2  
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18

#컴프리헨션

num=int(input('단을 입력하시오'))  # num은 문자열이므로 int함수이용
for i in range(1,10):
    print("{} x {} = {}".format(num,i,num*i))

단을 입력하시오9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [73]:
# 구구단 표
for num1 in range(1,10): # 뒷자리
    for num2 in range(2,10): #앞자리
        print("{} x {} = {}".format(num2,num1,num2*num1), end='\t')
    print() # 공백은 줄바꿈을 출력

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

In [77]:
#(5) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]

result=[]
for num in lst:
    result.append(num*2)
print(result)

[20, 60, 140, 10, 240, 1400, 2, 70]

In [78]:
[num*2 for num in lst]

[20, 60, 140, 10, 240, 1400, 2, 70]

In [75]:
#(6) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]

[(x,x*10) for x in lst]

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [82]:
#(7) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]

[num*3 for num in lst2 if num % 3 == 0]

[9, 99, 63, 99, 180, 360]

In [81]:
result=[]
for i in lst2:
    if i % 3 == 0:
        result.append(i*3)
print(result)

[9, 99, 63, 99, 180, 360]

In [83]:
{num*3 for num in lst2 if num % 3 == 0}  # set{}은 중복된 값 제거

{9, 63, 99, 180, 360}

In [84]:
#(8) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

[name for name in file_name if name.endswith('exe')]

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [89]:
f="abc.exe"
f.endswith('.exe'), f.endswith('.bat'), f.startswith('ab'),f.startswith("test"), "bc" in f

(True, False, True, False, True)

In [85]:
#(9) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

[name for name in file_name if len(name)>=10]

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [121]:
import random
random.randint(1,100)  # 실행시마다 1~100 사이 임의의 정수 중 하나를 반환

44

In [1]:
number=79

while True:
    guess=int(input("숫자를 입력하세요:"))
    if guess == number:
        print("정답입니다")
        break
    elif guess > number:
        print("더 작은 수 입니다")
    else:
        print("더 큰 수 입니다")

숫자를 입력하세요:80
더 작은 수 입니다
숫자를 입력하세요:70
더 큰 수 입니다
숫자를 입력하세요:79
정답입니다

In [ ]:
import random
num=random.randint(1,100)
print(num)

while True:
    guess=int(input("숫자를 입력하세요:"))
    if guess == num:
        print("정답입니다")
        break
    elif guess > num:
        print("더 작은 수 입니다")
    else:
        print("더 큰 수 입니다")

19

In [3]:
# 정답이 될 임의의 값 생성
import random
num = random.randint(1,100) # 1~100사이의 임의의 정수 반환
count = 1 # 몇번째 맟추는지를 저장할 변수
guess_list=[]  # append 함수사용하려면 리스트먼저 생성하기!

print("1~100 사이의 숫자 중 하나를 입력하세요")

# 사용자로부터 숫자 입력
guess_num = int(input("1~100:"))
guess_list.append(guess_num)

#정답과 사용자입력값이 같은지 비교해서 같으면 종료, 다르면 다시 입력
while num != guess_num:
    if num > guess_num:
        print("더 큰 값을 입력하세요")
    else:
        print("더 작은 값을 입력하세요")
    guess_num = int(input('1~100:'))
    guess_list.append(guess_num)
    
    count = count + 1 # count += 1
    
print("{}번 만에 맞췄습니다".format(count))
print(guess_list)

1~100 사이의 숫자 중 하나를 입력하세요
1~100:50
더 큰 값을 입력하세요
1~100:70
더 작은 값을 입력하세요
1~100:60
더 큰 값을 입력하세요
1~100:65
더 작은 값을 입력하세요
1~100:64
더 작은 값을 입력하세요
1~100:63
더 작은 값을 입력하세요
1~100:62
7번 만에 맞췄습니다
[50, 70, 60, 65, 64, 63, 62]