## 함수 정의

In [3]:
def greeting():  # 선언부(함수 선언, 함수 이름, 함수식 괄호는 항상 입력)_사용법(호출하는 입장에서)
    print("안녕하세요")   # 구현부_함수가 호출됐을 때 실행할 명령문들
    print("반갑습니다")

In [4]:
# 함수 호출 : 이름([값,..])
greeting()

안녕하세요
반갑습니다

## 함수의 매개변수(parameter) - 순서 중요

In [5]:
def greeting2(name):
    print(name+"님 안녕하세요")

In [7]:
greeting2("홍길동")
greeting2("박지희")

홍길동님 안녕하세요
박지희님 안녕하세요

In [10]:
def plus(num1, num2, num3):
    print("{}+{}+{}={}".format(num1, num2, num3, num1+num2+num3))
#   return None  <-반환값이 없으면(none) 생략가능

In [20]:
plus(1,2,3)
plus(10,20,30)
r = plus(100,200,300)
print(r)  # None 반환

1+2+3=6
10+20+30=60
100+200+300=600
None

In [16]:
## 리턴값 (함수가 처리가 끝나고 반환해주는 결과값)
def plus2(num1, num2, num3):
    result = num1+num2+num3  # 반환값
    return result  # return 반환값 (result값을 가지고 다시 호출한 곳으로 돌아가라)

# 반환값을 생략하면 None 이 반환된다
# 반환값이 없을 경우(None) return 구문 생략 가능

In [19]:
a = plus2(10,20,30)
a - 20

40

In [25]:
# 반환값이 여러개인 경우 => 자료구조로 묶어서 반환 (반환값은 1개만 가능하기 때문)

def calculate(num1, num2):
    r1 = num1+num2
    r2 = num1-num2
    r3 = num1*num2
    r4 = num1/num2
    return r1,r2,r3,r4  # 반환값들 나열 (보통 편의상 튜플로 반환, 괄호생략가능)
#   return [r1,r2,r3,r4] 리스트로 반환

In [26]:
v1,v2,v3,v4=calculate(10, 20)
print(v1,v2,v3,v4)

30 -10 200 0.5

In [28]:
v=calculate(10,20)
print(type(v))
print(v)

<class 'tuple'>
(30, -10, 200, 0.5)

In [29]:
def calculate2(num1, num2):
    r1 = num1+num2
    r2 = num1-num2
    r3 = num1*num2
    r4 = num1/num2
    return {
        "덧셈":r1, "뺄셈":r2, "곱셈":r3, "나눗셈":r4
    }  #딕셔너리로 반환

In [31]:
calculate2(20,10)

{'덧셈': 30, '뺄셈': 10, '곱셈': 200, '나눗셈': 2.0}

In [34]:
d=calculate2(20,10)
d['덧셈']

30

In [56]:
## 기본값이 있는 매개변수(parameter)
                                                          # 기본값 설정되지 않은 id, name은 필수
def printInfo(id, name, age=0, address=None, hobby=[]):  # age=0 호출할 때 전달값이 있으면 그 값이 대입되고 없으면 age는 0을 기본값으로 사용
    print(id, name, age, address, hobby)         # 기본값이 있는 매개 변수 뒤에는 일반 매개변수(기본값이 없는)는 선언할 수 없다.

In [48]:
printInfo("id-1","이름")

id-1 이름 0 None []

In [40]:
def f(x,y,z=None, k):  # 기본값있는 매개변수는 항상 맨 뒤에 선언해야함, 그렇지 않으면 이와 같은 오류 발생
    pass               # 실행 확인시에는 pass로

SyntaxError: non-default argument follows default argument (<ipython-input-40-a7d6885a1ded>, line 1)

In [49]:
printInfo('id-2','홍길동',20)

id-2 홍길동 20 None []

In [54]:
# printInfo(id, name, age=0, address=None, hobby=[])
printInfo('id-3','이순신',"서울")    # 순서에 맞춰서 작성해야함

id-3 이순신 서울 None []

In [60]:
printInfo('id-4','김영수',0,None,['독서','음악감상']) # 기본값이 있는 변수라도 생략은 불가능, 기본값으로 작성

id-4 김영수 0 None ['독서', '음악감상']

In [61]:
# 키워드 인수(keyword argument): 호출할 때 매개변수명을 지정해서 값 전달 -> 기본값 변수 생략 가능
printInfo('id-4','김영수',hobby=['독서','음악감상'])

id-4 김영수 0 None ['독서', '음악감상']

In [62]:
printInfo(age=20, address='인천', name='홍길동',id='myid') # 변수명 함께 작성시에는 순서 상관없음

myid 홍길동 20 인천 []

In [80]:
# 가변인수
def sum_nums(num_list):
    result = 0
    for num in num_list:
        result += num
    return result

In [71]:
v = sum_nums([1,2,3,4,5])
print(v)
v = sum_nums([5,5,6,7,8])
print(v)

15
31

In [81]:
v = sum_nums(1,2,3,4,5)
print(v)
v = sum_nums(1,2,3)
print(v)
print(sum_nums(1,2))
print(sum_nums())

TypeError: sum_nums() takes 1 positional argument but 5 were given

In [86]:
# 가변인수

def sum_nums(*num_list):  # 매개변수명 앞에 * 를 붙이면 즉, *변수 : 0 ~ n 개의 전달값을 튜플로 묶어서 받는다.
    print(type(num_list))
    result = 0
    for num in num_list:
        result += num
    return result

In [87]:
v = sum_nums(1,2,3,4,5)
print(v)
v = sum_nums(1,2,3)
print(v)
print(sum_nums(1,2))
print(sum_nums())

<class 'tuple'>
15
<class 'tuple'>
6
<class 'tuple'>
3
<class 'tuple'>
0

In [88]:
l = [1,2,3,4,5,6,7,8,9]
v = sum_nums(*l) # 리스트(튜플)의 원소들을 가변인자로 전달 -> *리스트, *튜플
print(v)

<class 'tuple'>

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [89]:
# 가변인수 : **변수명
# 호출할때 keyword 인수 형태로 전달하고 가변인수는 전달된 갑을 딕셔너리(dictionary) 로 처리한다
# 값의 개수는 제한 없음

In [90]:
def personInfo(**info):
    print("ID:", info.get('id'))
    print("이름:", info.get('name'))
    print("나이:", info.get('age'))
    print(type(info))
    print(info)

In [91]:
personInfo(id='id-10',name='홍길동',age=20,address='서울')

ID: id-10
이름: 홍길동
나이: 20
<class 'dict'>
{'id': 'id-10', 'name': '홍길동', 'age': 20, 'address': '서울'}

In [93]:
info = {'id': 'id-10', 'name': '홍길동', 'age': 20, 'address': '서울'}
personInfo(info)

TypeError: personInfo() takes 0 positional arguments but 1 was given

In [94]:
info = {'id': 'id-10', 'name': '홍길동', 'age': 20, 'address': '서울'}
personInfo(**info)  # 형식 맞추기 : 딕셔너리의 item(key-value)를 키워드 인수형식으로 만들어 호출

ID: id-10
이름: 홍길동
나이: 20
<class 'dict'>
{'id': 'id-10', 'name': '홍길동', 'age': 20, 'address': '서울'}

In [98]:
# 가변인수는 하나의 함수에 한개씩만 선언할 수 있다. 단, *변수, **변수 는 가능(구분가능하기때문에)
# 변수명(관례) : *args, **kwargs
def a(m, n, *x, **y, r):   # 가변인수는 일반 매개변수 다음에 선언해야 한다. 즉 가변인수 뒤에 일반 매개변수 올 수 없다(오류발생)
    pass

SyntaxError: invalid syntax (<ipython-input-98-3096275f9ac6>, line 3)

#  함수는 일급시민객체(first class citizen object)
 - 일급시민객체 란?
  - 변수에 대입 가능
  - 함수 호출 시 매개변수로 전달할 수 있어야 한다
  - 함수의 반환값으로 사용할 수 있어야 한다

In [99]:
def hello(name):
    print(name+" 안녕하세요.")

In [100]:
hello("홍길동")

홍길동 안녕하세요.

In [119]:
my_hello = hello

In [102]:
my_hello("이순신")

이순신 안녕하세요.

In [105]:
calc = calculate(1,2)  # 함수 호출, calc: calculate(1,2)의 반환값이 들어감
calc

(3, -1, 2, 0.5)

In [108]:
calc = calculate  # 함수 자체를 calc변수에 대입(함수에 새이름 추가하는 개념)
calc(1,2)

(3, -1, 2, 0.5)

In [109]:
def calculate3(func):
    num1 = 10
    num2 = 20
    result = func(num1, num2)
    print(result)

In [113]:
def plus(n1, n2):
    return n1+n2

In [114]:
a = plus
a(1,2)

3

In [116]:
calculate3(plus)
# func=plus
# func(10,20) => 10+20

30

30

In [117]:
def minus(n1,n2):
    return n1-n2
calculate3(minus) => 10-20

-10

# 람다식(lambda)
 - 단일 구문으로 표현하는 익명의 함수
 - 익명함수: 이름없이 구현만 가지고 있는 함수
 - 일회성 함수를 만들 때 사용, 즉 여러번 사용 불가
 
 - 구문
 ```python
 lambda [매개변수]: 명령문    # [매개변수] 생략 가능
 ```
 
 
 - 명령문 : 하나의 명령문만 가능. 반환값이 있어야 한다. (명령문이 반환하는 값을 람다함수가 반환한다.)

In [120]:
def minus(n1,n2):
    return n1-n2

In [123]:
fun = lambda n1,n2 : n1-n2
fun(1,2)

-1

In [124]:
(lambda x:x*20)(10)

200

In [126]:
calculate3(lambda x,y:x-y)

-10

In [129]:
calculate3(lambda x,y:x*y)

200

In [132]:
str_list=["aaa","bb","ccccc","aaaddddd","s","fdjisojiofjiosj"]
str_list.sort()
str_list

['aaa', 'aaaddddd', 'bb', 'ccccc', 'fdjisojiofjiosj', 's']

In [133]:
str_list=["aaa","bb","ccccc","aaaddddd","s","fdjisojiofjiosj"]
str_list.sort(key=lambda x:len(x))  # key=함수, 함수가 반환하는 숫자순서로 정렬 (이 경우 글자수의 크기순으로 오름차순 정렬)
str_list

['s', 'bb', 'aaa', 'ccccc', 'aaaddddd', 'fdjisojiofjiosj']

 - filter(함수, 리스트): 리스트 내 원소들 중 특정 조건을 만족하는 것들만 걸러내는 함수
                  : 원소 하나 하나를 함수에 전달해 True를 반환하는 것만 남긴다.
 - map(함수, 리스트): 리스트 내 원소들을 처리하여 변형한 결과를 Iterabal로 반환

In [145]:
num_list= list(range(1,100))
even_list=filter(lambda x:x%2==0,  num_list)
even_list  # Iterable 타입 (제너레이터-range())
#list(even_list)

In [146]:
for i in even_list:
    print(i, end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [149]:
[num for num in num_list if num % 2 == 0] # list(even_list)와 같은 결과

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [155]:
m = map(lambda x:x*200, num_list)
list(m)

[200,
 400,
 600,
 800,
 1000,
 1200,
 1400,
 1600,
 1800,
 2000,
 2200,
 2400,
 2600,
 2800,
 3000,
 3200,
 3400,
 3600,
 3800,
 4000,
 4200,
 4400,
 4600,
 4800,
 5000,
 5200,
 5400,
 5600,
 5800,
 6000,
 6200,
 6400,
 6600,
 6800,
 7000,
 7200,
 7400,
 7600,
 7800,
 8000,
 8200,
 8400,
 8600,
 8800,
 9000,
 9200,
 9400,
 9600,
 9800,
 10000,
 10200,
 10400,
 10600,
 10800,
 11000,
 11200,
 11400,
 11600,
 11800,
 12000,
 12200,
 12400,
 12600,
 12800,
 13000,
 13200,
 13400,
 13600,
 13800,
 14000,
 14200,
 14400,
 14600,
 14800,
 15000,
 15200,
 15400,
 15600,
 15800,
 16000,
 16200,
 16400,
 16600,
 16800,
 17000,
 17200,
 17400,
 17600,
 17800,
 18000,
 18200,
 18400,
 18600,
 18800,
 19000,
 19200,
 19400,
 19600,
 19800]

In [156]:
[num*200 for num in num_list]

[200,
 400,
 600,
 800,
 1000,
 1200,
 1400,
 1600,
 1800,
 2000,
 2200,
 2400,
 2600,
 2800,
 3000,
 3200,
 3400,
 3600,
 3800,
 4000,
 4200,
 4400,
 4600,
 4800,
 5000,
 5200,
 5400,
 5600,
 5800,
 6000,
 6200,
 6400,
 6600,
 6800,
 7000,
 7200,
 7400,
 7600,
 7800,
 8000,
 8200,
 8400,
 8600,
 8800,
 9000,
 9200,
 9400,
 9600,
 9800,
 10000,
 10200,
 10400,
 10600,
 10800,
 11000,
 11200,
 11400,
 11600,
 11800,
 12000,
 12200,
 12400,
 12600,
 12800,
 13000,
 13200,
 13400,
 13600,
 13800,
 14000,
 14200,
 14400,
 14600,
 14800,
 15000,
 15200,
 15400,
 15600,
 15800,
 16000,
 16200,
 16400,
 16600,
 16800,
 17000,
 17200,
 17400,
 17600,
 17800,
 18000,
 18200,
 18400,
 18600,
 18800,
 19000,
 19200,
 19400,
 19600,
 19800]

In [157]:
# num_list 의 값들 중 홀수 * 100
m1=map(lambda x:x*100 ,filter(lambda x:x%2!=0, num_list))
list(m1)

[100,
 300,
 500,
 700,
 900,
 1100,
 1300,
 1500,
 1700,
 1900,
 2100,
 2300,
 2500,
 2700,
 2900,
 3100,
 3300,
 3500,
 3700,
 3900,
 4100,
 4300,
 4500,
 4700,
 4900,
 5100,
 5300,
 5500,
 5700,
 5900,
 6100,
 6300,
 6500,
 6700,
 6900,
 7100,
 7300,
 7500,
 7700,
 7900,
 8100,
 8300,
 8500,
 8700,
 8900,
 9100,
 9300,
 9500,
 9700,
 9900]

In [158]:
# num_list 값들 중 3의 배수의 제곱
m2=map(lambda x:x**2,filter(lambda x:x%3==0, num_list))
list(m2)

[9,
 36,
 81,
 144,
 225,
 324,
 441,
 576,
 729,
 900,
 1089,
 1296,
 1521,
 1764,
 2025,
 2304,
 2601,
 2916,
 3249,
 3600,
 3969,
 4356,
 4761,
 5184,
 5625,
 6084,
 6561,
 7056,
 7569,
 8100,
 8649,
 9216,
 9801]

In [166]:
# docstring: 함수에 대한 설명 (shift + tab 키) or ?함수식
# 함수의 구현부의 첫번째에 여러줄 문자열로 작성한다.

# 함수 매개변수/리턴타입에 대한 힌트(주석) , 문자열 " " 필요, 타입(str,int..)은 " " 생략가능, 기본값있는 경우 = 앞에 주석달기
def printInfo(id:"아이디-int", name:str, age:int, address:"주소"=None)->"리턴값주석":
    """설명
    매개변수 설명
    리턴값 설명
    예제(필요하면)"""
    return f'{id}, {name}, {age}, {address}'

In [167]:
?printInfo

# 연습문제

In [6]:
# 1. 사용자가 입력한 단의 구구단을 출력하는 함수를 구현

def multi(num):
#    num=int(input("단을 입력하세요"))
    for i in range(1,10):
        print("{}x{}={}".format(num,i,num*i))
        
multi(2)
multi(4)

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36

In [17]:
# 2. 시작 정수, 끝 정수를 받아 그 사이의 모든 정수의 합을 구해서 반환하는 함수를 구현

def add(x,y):
    result=0
    
    for num in range(x+1,y):
        result += num 
    return print("{},{} 사이의 모든 정수의 합은 {}입니다.".format(x,y,result))
add(1,12)

1,12 사이의 모든 정수의 합은 65입니다.

In [11]:
# 2. 선생님 풀이

def accumulate(start,end):
    return sum(range(start+1,end)) # sum 함수이용

print(accumulate(1,10))
print(accumulate(2,1))  # 시작값이 끝값보다 큰 경우 0 반환

44
0

In [20]:
# 3. 2번 문제에서 시작을 받지 않은 경우 0을, 끝 정수를 받지 않으면 10이 들어가도록 구현을 변경

def add(x=0,y=10):
    result=0

    for num in range(x+1,y):
        result += num
    return print("{},{} 사이의 모든 정수의 합은 {}입니다.".format(x,y,result))

print(add(7))  # 첫번째값을 받고 두번째 값을 받지 않을때는 두번째값 생략가능
print(add(x=0,y=9)) # 첫번째값을 받지 않을경우에는 기본값으로 기입하고 x,y값 명시하거나
print(add(y=100)) # x 값 생략하면 기본값으로 계산됨

7,10 사이의 모든 정수의 합은 17입니다.
None
0,9 사이의 모든 정수의 합은 36입니다.
None
0,100 사이의 모든 정수의 합은 4950입니다.
None

In [22]:
def add(x=0,y=10):
    return sum(range(x+1,y))

print(add(3))  #x=3,y=10
print(add(0,4))
print(add(y=20))

39
6
190

In [26]:
def add(*args):  # *변수명 : 가변인수 -> 튜플로 자동으로 묶어줌
    result=0
    for num in args:
        result+=num
    return result

print(add(1,10,2,4))

17

In [35]:
def add(**kwargs):
    v = kwargs['value']
    op = kwargs['op']
    
    if op == '+':
        result = 0
        for num in v:
            result += num
    elif op == 'x':
        result = 1
        for num in v:
            result*= num
    return result
    
    
print(add(value=[1,2,3,4,5], op='+'))  #{"value":[1,2,3,4,5], "op":"+"}
print(add(value=[1,2,3,4,5], op='x'))

15
120

In [41]:
# 4. 체질량 지수(體質量指數, Body Mass Index, BMI)는 비만도를 나타내는 지수로 키가 a미터 이고 몸무게가 b kg일때 b/a**2 로 구한다.
# 체질량 지수가
#- 18.5 미만이면 저체중
#- 18.5이상 25미만이면 정상 
#- 25이상이면 과체중
#- 30이상이면 비만으로 하는데
#몸무게와 키를 매개변수로 받아 비만인지 과체중인지 반환하는 함수를 구현하시오.

def check_bmi(a,b):
    a=a/100
    value=b/a**2

    if b/a**2 < 18.5:
        print("저체중",value)
    elif b/a**2 >= 18.5 and b/a**2 <25:
        print("정상",value)
    elif b/a**2 >= 25 and b/a**2 < 30:
        print("과체중",value)
    elif b/a**2 >= 30:
        print("비만",value)
        
check_bmi(175,53)

저체중 17.306122448979593

In [44]:
# 선생님 풀이

def check_bmi(a:"키단위:m",b:"몸무게단위:kg")->"비만여부":
    bmi=b/a**2
    result=None
    
    if bmi<18.5:
        result="저체중"
    elif bmi<25:
        result="정상"
    elif bmi<30:
        result="과체중"
    else:
        result="비만"
    return result, bmi

check_bmi(1.75,55)

('저체중', 17.959183673469386)

In [45]:
# 람다식
#5. filter를 이용해 다음 리스트에서 양수만 추출히 리스트를 구현
ex1 = [1, -10, -2, 20, 3, -5, -7, 21]

list(filter(lambda x:x>=0, ex1))

[1, 20, 3, 21]

In [48]:
# 선생님 풀이

pos=filter(lambda x:x>0, ex1)
pos_list=list(pos)
print(pos_list)

a=list(filter(lambda x:x>0, ex1))
a

[1, 20, 3, 21]

[1, 20, 3, 21]

In [46]:
#6. filter와 map을 이용해 다음 리스트에서 음수만 추출한 뒤 그 제곱한 값들을 가지는 리스트를 구현
ex2 = [1, -10, -2, 20, 3, -5, -7, 21]
list(map(lambda x:x**2 ,filter(lambda x:x<0, ex2)))

[100, 4, 25, 49]

In [52]:
# 선생님 풀이

neg=filter(lambda x:x<0, ex2)
r=map(lambda x:x**2, neg)
list(r)

[100, 4, 25, 49]

In [54]:
[x**2 for x in ex2 if x<0]

[100, 4, 25, 49]

In [55]:
import functools    # functools: 여러가지 함수를 묶어놓은 것(모듈)
# reduce(함수, 대상리스트): 함수매개변수는 2개, 리스트의 원소들을 누적집계해서 반환
functools.reduce(lambda x,y:x+y,range(1,11))

55

In [56]:
# a, b 는 함수안에 선언한 변수 => 함수 내에서만 사용가능
# ==> 지역변수 (Local Variable)
def test(a):
    b = a+1
#    return b     return 생략시 None값 반환
test(10)

11

In [60]:
def test2():
    for i in range(10):
        if i == 3:
            return i  # return: 호출한곳으로 돌아가라 실행 다 끝났다
test2()

3